@use '../helpers' as *;
.progress {
	// .progress__container
	&__container {
	}
	// .progress__progress-bar
	&__progress-bar {
		position: relative;
		// height: rem(50);
		// border: rem(1) solid black;
		// border-radius: rem(8);
		overflow: hidden;
		height: 1.5rem; /* Тонший, елегантніший */
		background-color: #e5e7eb; /* Сіра "підкладка" */
		border-radius: 999px; /* Pill shape */
		border: none;
		box-shadow: inset 0 rem(2) rem(4) 0 rgb(0 0 0 / 0.05);
	}
	// .progress__progress-value
	&__progress-value {
		background-color: red;
		height: 100%;
		transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	}
	// .progress__percents
	&__percents {
		@include abs-center;
		font-size: 0.75rem;
		font-weight: 700;
		color: white;
		text-shadow: 0 rem(1) rem(2) rgba(0, 0, 0, 0.2);
	}
}
