@use './functions' as *;

$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin laptop-above {
	@media (width > rem($laptop)) {
		@content;
	}
}
@mixin laptop {
	@media (width <= rem($laptop)) {
		@content;
	}
}

@mixin hover {
	&:hover {
		@media (hover: hover) /* and (pointer: fine) */ {
			@content;
		}
	}
}
@mixin hovera {
	&:hover {
		@media (hover: hover) /* and (pointer: fine) */ {
			@content;
		}
	}
	&:active {
		@content;
	}
}

@mixin retinaImg {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;
	}
}
