// Файл з налаштуваннями для проєкту

// Налаштування для fluid typography
$fluid-min-viewport: 320; // мінімальна ширина viewport для розрахунку
$fluid-max-viewport: 1920; // максимальна ширина viewport для розрахунку
