@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// @font-face {
// 	font-family: "Helvetica Neue", sans-serif;
// 	src: url('') format('woff2');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }

/* 
100 thin
200 extra light (ultra light)
300 ligth
400 regular (normal)
500 medium
600 semi bold (demi bold
700 bold
800 extra bold (ultra bold)
900 black (heavy)
*/
