:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
:where(ul, ol):where([class]) {
	padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
	margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	padding: 0;
	border: none;
}
:where(ul[class]) {
	list-style: none;
}

:where(address[class]) {
	font-style: normal;
}
p {
	--paragraphMarginBottom: 24px;

	margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}
img {
	vertical-align: top;
}
input,
textarea,
select,
button {
	font: inherit;
}

html {
	// scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}
button,
label {
	cursor: pointer;
}
button {
	-webkit-tap-highlight-color: transparent;
}
:where([fill]:not([fill='none'], [fill^='url'])) {
	fill: currentColor;
}
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
	stroke: currentColor;
}
svg * {
	transition-property: fill, stroke;
}
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}
