@use 'helpers' as *;

:root {
	// Container
	--container-width: #{rem(1200)};
	--container-padding-x: #{rem(15)};

	// Fonts
	--font-family-base: 'Inter', sans-serif;
	--font-family-accent: 'Courier New', Courier, monospace;
	--base-line-height: 1.6;

	// Colors
	--bg-body: #f3f4f6; /* Світло-сірий фон, щоб білі картки виділялися */
	--bg-card: #ffffff;
	--text-main: #1f2937;
	--text-muted: #6b7280;
	--primary: #4f46e5; /* Індиго (сучасний синій) */
	--primary-hover: #4338ca;
	--success: #10b981; /* М'який зелений */
	--warning: #f59e0b; /* Теплий жовтий */
	--danger: #ef4444; /* М'який червоний */

	--shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--shadow-md:
		0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--radius: #{rem(12)};
}
